.status-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: background-color 0.3s ease;
}

.status-text {
  color: white;
  font-size: 10vw;
  font-weight: bold;
}

/* Background colors for different states */
.recording {
  background-color: #ff0000; /* Bright Red */
}

.standby {
  background-color: #00ff00; /* Bright Green */
}

.status-container.recording {
  background-color: #ff0000 !important; /* Bright Red */
}

.status-container.standby {
  background-color: #00ff00 !important; /* Bright Green */
}